<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h5 class="modal-title w-100" id="myModalLabel">Delete Workspace: {{modalService.workspacename.getValue()}} ?</h5>
  </div>
  <div class="modal-body">
    <p>Please, insert here the Workspace name to proceed</p>
    <div class="md-form">
      <input [(ngModel)]="workspaceName" mdbInput type="text" id="form1" class="form-control">
      <label for="form1" class="form-label">Workspace name</label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="back-button" type="button" mdbBtn class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Back</button>
    <button [ngClass]="{'disabled': workspaceName != modalService.workspacename.getValue()}" 
            type="button" 
            mdbBtn 
            color="light" 
            class="relative waves-light" 
            mdbWavesEffect>Delete</button>
  </div>
</div>