<div class="background" style="overflow: auto">
  <div class="bloquer"></div>
  <div class="content website-info d-flex justify-content-start align-content-top flex-wrap animated zoomIn">
    <div class="basic-bubble bubble1">
      <h1 class="inline">What's Team<p class="inline title-highlight">Code</p>?</h1>
      <br/>
      <p>TeamCode is an onlide coding tool centerd in provide an in-real-time comunication between a team conformed by an Owner, a Writer and Auditors.</p>
      <p style="transform: scale(2); margin: 1.6em auto 1.6em auto">👾</p>
      <p>TeamCode provides you the tools to upload your projects and share or discuss changes while you are live sharing this modifications with you teammates.</p>
    </div>
  </div>
  
  <div class="content website-info d-flex justify-content-end align-content-top flex-wrap animated zoomIn">
    <div class="basic-bubble bubble2">
      <h1 class="inline">How to use it?</h1>
      <br/>
      <p>TeamCode only have one requeriment to start using it. You need to login using your GitHub account. This requeriment exists for two main reasons:</p>
      <br/>
      <ul>
        <li><p>Bring the maximum seccurity to our users relying in GitHub.</p></li>
        <li><p>Provide an integrated GitHub toolbox to interact with some advanced actions introduced in the "Advanced level tutorial".</p></li>
      </ul>
    </div>
  </div>

  <div class="content website-info d-flex justify-content-start align-content-top flex-wrap animated zoomIn">
      <div class="basic-bubble bubble3">
        <h1 class="inline">Open Source!</h1>
        <br/>
        <p>TeamCode will remain as OpenSource to ensure we will reach an awesome project!</p>
        <img class="github-icon" src="../../assets/media/github-brands.svg" alt="github-project" style="width: 60px; height: 60px;" 
          (click)="navigateToGithubProject()">
      </div>
    </div>
</div>
  