<ul *ngIf="!user" class="navbar-nav mt-lg-0">
  <li class="nav-item">
      <a (click)="login()" class="nav-link" mdbWavesEffect>Sign in</a>
  </li>
  <li class="divider-vertical"></li>
  <li class="nav-item">
      <a (click)="login()" class="nav-link" mdbWavesEffect>Sign up</a>
  </li>
</ul>
<ul *ngIf="user" class="navbar-nav mt-lg-0">
  <!-- Dropdown -->
  <app-auth-workspace></app-auth-workspace>
  <li class="nav-item">
      <a (click)="logout()" class="nav-link" mdbWavesEffect>Log Out</a>
  </li>
</ul>