@import "../../assets/themes/dark.scss";

.highlight {
  color: $accent-color;
  font-weight: 900;
}

.divider-vertical {
  height: 30px;
  margin: 5px 9px;
  border-right: .5px solid #737374;
}

.spaced {
  margin-right: 5em;
}

.fa-search:hover {
  color: $accent-color;
  cursor: pointer;
}

input[type=text]:focus:not([readonly]) + label {
  color: $accent-color !important; 
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $accent-color !important;
  box-shadow: 0 1px 0 0 $accent-color !important; 
}

.active {
  color: $accent-color !important;
}

@media (max-width: 991px) {
  .divider-vertical {
    display: none;
  }
  .form-inline {
    display: none;
  }
}

.workspace-info {
  position: absolute;
  top: 0.95em;
  left: 50%;
  transform: translateX(-50%);

  color: $accent-color;
  font-weight: bold;

  z-index: 1040;
}

.workspace-info:hover {
  cursor: default;
  user-select: none;
}

@media (max-width: 1220px) {
  .workspace-info {
    display: none;
  }
}

@media (max-width: 991px) {
  .workspace-info {
    display: block;
  }
}

@media (max-width: 300px) {
  .workspace-info {
    display: none;
  }
}

.notVisible {
  display: none;
}

app-github {
  position: absolute;
  right: .25em;
  bottom: .25em;
  z-index: 1;
}