<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">Team<b class="highlight">Code</b></a>
    </mdb-navbar-brand><!-- Links -->
    <links>
        <ul class="navbar-nav mr-auto mt-lg-0">
            <li class="nav-item">
                <a [ngClass]="{'active': checkActivePath('')}" class="nav-link" (click)="navigate('')" mdbWavesEffect>About us</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a [ngClass]="{'active': checkActivePath('collaborators')}" class="nav-link" (click)="navigate('collaborators')" mdbWavesEffect>Collaborators</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a [ngClass]="{'active': checkActivePath('public-projects')}" class="nav-link" (click)="navigate('public-projects')" mdbWavesEffect>Public projects</a>
            </li>
        </ul>

        <form class="form-inline waves-light spaced" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search for a Project..."><i class="fas fa-search"></i>
            </div>
        </form>

        <ul *ngIf="!user" class="navbar-nav mt-lg-0">
            <li class="nav-item">
                <a (click)="login()" class="nav-link" mdbWavesEffect>Sign in</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a (click)="login()" class="nav-link" mdbWavesEffect>Sign up</a>
            </li>
        </ul>
        <ul *ngIf="user" class="navbar-nav mt-lg-0">
            <li class="nav-item">
                <a (click)="showOptions()" class="nav-link" mdbWavesEffect>Options</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a (click)="logout()" class="nav-link" mdbWavesEffect>Log Out</a>
            </li>
        </ul>
    </links>
</mdb-navbar>