<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">Team<b class="highlight">Code</b></a>
    </mdb-navbar-brand><!-- Links -->
    <links>
        <ul class="navbar-nav mr-auto mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#" mdbWavesEffect>About us</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a class="nav-link" href="#" mdbWavesEffect>Collaborators</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a class="nav-link" href="#" mdbWavesEffect>Public projects</a>
            </li>
        </ul>

        <form class="form-inline waves-light spaced" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search for a Project..."><i class="fas fa-search"></i>
            </div>
        </form>

        <ul class="navbar-nav mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#" mdbWavesEffect>Sign in</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="nav-item">
                <a class="nav-link" href="#" mdbWavesEffect>Sign up</a>
            </li>
        </ul>
    </links>
</mdb-navbar>