@import "../../../assets/themes/dark.scss";

a {
  color: white !important;
}

.page-link:hover {
  color: $primary-color-variant !important;
  background-color: $accent-color !important;
}

.pagination .page-item.active .page-link {
  background-color: $accent-color !important;
}