@import '../../assets/themes/dark.scss';

/deep/ html, body {
  overflow: hidden !important;
}

/deep/ .ide-container {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
  overflow: hidden !important;
}

/deep/ html.gr__localhost body app-root app-ide iframe#editor {
  position: fixed;
  padding-top: 3.35em;
  height: 150%;
}