@import '../../assets/themes/dark.scss';

.ide-container {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
}

/deep/ html.gr__localhost body app-root app-ide iframe#editor {
  position: absolute;
  padding-top: 3.35em;
  height: 100%;
}