<div class="projects-container animated fadeInDown" style="text-align: left">
  <div style="position: sticky">
    <h3 class="feed-title" style="transition: 0.5s;">Feed</h3>
    <hr style="background-color: whitesmoke">
  </div>
  <div *ngIf="feedItems.length >= 1" class="feed-content">
    <div *ngFor="let feedItem of feedItems.reverse()" class="list-item">
      <ul *ngIf="feedItem.type == 'writer'" class="no-dot">
        <li><p class="list-info">Action:</p> Writer Role Updated</li>
        <li><p class="list-info">Status:</p> {{feedItem.userName}}</li>
        <li><p class="list-info">Workspace:</p> {{feedItem.workspaceName}}</li>
        <li><p class="list-info">Date:</p> {{feedItem.date | date:'medium'}}</li>
      </ul>

      <ul *ngIf="feedItem.type == 'collaborator'" class="no-dot">
        <li><p class="list-info">Action:</p> New Collaborators</li>
        <li><p class="list-info">User:</p> {{feedItem.userName}}</li>
        <li><p class="list-info">Workspace:</p> {{feedItem.workspaceName}}</li>
        <li><p class="list-info">Date:</p> {{feedItem.date | date:'medium'}}</li>
      </ul>
    </div>
  </div>
  <div *ngIf="feedItems.length == 0" class="feed-content">
    <div class="list-item not-interactive" style="text-align: center">
      <img src="../../../assets/media/ghost.svg" alt="no_feed_items_icon" style="height: 4em; margin: 1em">
      <h6 class="no-items-header">Seems you have no activity, for now!</h6>
    </div>
  </div>
</div>
