<div class="projects-container animated fadeInDown" style="text-align: left">
  <div style="position: sticky">
    <h3 class="feed-title" style="transition: 0.5s;">Feed</h3>
    <hr style="background-color: whitesmoke">
  </div>
  <div class="feed-content">
    <div class="list-item">
      <ul class="no-dot">
        <li>Action: New Project</li>
        <li>User: You</li>
      </ul>
    </div>
    <div class="list-item">
      <ul class="no-dot">
        <li>Action: New collaborators</li>
        <li>Project: Sample1</li>
        <li>Collborators: 2</li>
      </ul>
    </div>
    <div class="list-item">
      <ul class="no-dot">
        <li>Action: New collaborators</li>
        <li>Project: Sample1</li>
        <li>Collborators: 2</li>
      </ul>
    </div>
    <div class="list-item">
      <ul class="no-dot">
        <li>Action: New collaborators</li>
        <li>Project: Sample1</li>
        <li>Collborators: 2</li>
      </ul>
    </div>
    <div class="list-item">
      <ul class="no-dot">
        <li>Action: New collaborators</li>
        <li>Project: Sample1</li>
        <li>Collborators: 2</li>
      </ul>
    </div>
    <div class="list-item">
      <ul class="no-dot">
        <li>Action: New collaborators</li>
        <li>Project: Sample1</li>
        <li>Collborators: 2</li>
      </ul>
    </div>
    <div class="list-item">
      <ul class="no-dot">
        <li>Action: New collaborators</li>
        <li>Project: Sample1</li>
        <li>Collborators: 2</li>
      </ul>
    </div>
  </div>
</div>
