<div class="projects-container animated fadeInLeft" style="text-align: left">
  <h3 class="projects-title" style="transition: 0.5s;">Projects</h3>
  <hr style="background-color: whitesmoke">
  <div class="list-item">
    <ul class="no-dot">
      <li>Name: Sample</li>
      <li>Owner: You</li>
      <li>Collborators: 1</li>
    </ul>
  </div>
  <div class="list-item">
    <ul class="no-dot">
      <li>Name: Sample</li>
      <li>Owner: You</li>
      <li>Collborators: 1</li>
    </ul>
  </div>
  <div class="list-item">
    <ul class="no-dot">
      <li>Name: Sample</li>
      <li>Owner: You</li>
      <li>Collborators: 1</li>
    </ul>
  </div>
  <div class="list-item">
    <ul class="no-dot">
      <li>Name: Sample</li>
      <li>Owner: You</li>
      <li>Collborators: 1</li>
    </ul>
  </div>
  <app-project-pages class="d-flex justify-content-center"></app-project-pages>
</div>
