@import "./assets/themes/dark.scss";

html {
  background-color: transparent;
}

.container {
  max-width: 100vw;
  margin: 0 .1px 0 .1px;
}

.navbar {
  padding-right: 0rem;
  padding-left: .5rem;
  background-color: $primary-color-variant;
  color: $text-color;
}

.navbar-brand, .nav-link {
  color: $text-color;
}

.navbar-brand:hover {
  color: $text-color;
}

.nav-link:hover {
  color: $accent-color !important;
}

.spaced {
  padding: .35em;
}