@import "../../assets/themes/dark.scss";

.highlight {
  color: $accent-color;
}

.content {
  width: 100%;
}

.bloquer {
  min-height: 6em;
}

.welcome-text {
  position: absolute;
}

@media only screen and (min-width: 868px) {
  .limited {
    max-width: 25em !important;
  }
}

@media only screen and (max-width: 1317px) {
  .unlimited {
    flex: 1 1 auto !important;
  }
}

.background {
  background-image: url("../../assets/media/home.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100vh;

  padding-top: 1em;
}

.website-info {
  background-color: transparent;
  top: 30vh;
  user-select: none;

  color: $text-color;
  text-align: center;
}

.website-subinfo {
  margin-top: 2em;
  user-select: none;

  color: $text-color;
  text-align: center;
}

h1, .h1 {
  font-size: 6vh;
}

.hidden {
  display: none;
}